<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="pannel-title">
            Cart Form
        </h4>
    </div>
    <div class="panel-body">
        <form *ngIf="cart" (ngSubmit)="saveCart()" id="cart-form" #form="ngForm">
          <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" 
                class="form-control" 
                id="firstName" name="firstName"
                placeholder="First Name"
                required
                [(ngModel)]="cart.firstName">
          </div>
          <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" 
                class="form-control" 
                id="lastName" name="lastName"
                placeholder="Last Name"
                [(ngModel)]="cart.lastName">
          </div>
      <button 
            type="submit" 
            class="btn btn-primary"
     [disabled]="form.invalid"
            form="cart-form">Save
        </button>
        <button class="btn btn-primary"
            type="button"
            (click)="goBack()">Back
        </button>
        </form>
    </div>
</div>
