<div class="row">
  <div class="offset-md-9">
    <div class="btn-group mr-2" role="group">
      <button class="btn btn-outline-secondary btn-sm" (click)='sortByName()'>By Name<i class="fas fa-sort fa-sm"></i></button>
      <button class="btn btn-outline-secondary btn-sm" (click)='sortByPrice()'>By Price<i class="fas fa-sort fa-sm"></i></button>
      <button class="btn btn-outline-secondary btn-sm" (click)='sortByQuantity()'>By Quantity<i class="fas fa-sort fa-sm"></i></button>
    </div>
  </div>
</div>

<div class = "cart-container">
    <app-cart-item #appCart *ngFor="let item of cartItems | orderBy:sortType:sortDirection" [currentItem] = "item" (increase)="onIncrease(item)"
    (decrease)="onDecrease(item)" (remove)="removeFromCart(item)"> </app-cart-item>
</div>

<p [appTxtSize]='txtSize' (click)="clickText()" #testChild class="total" >Total: {{ getTotalPrice() | currency:'USD' }}</p>

<div class="row">
    <div class="col-2">
        <button class="btn" (click)='clearCart()'>Clear Cart</button>
    </div>
</div>

<div class="container mt-5">

    <div class="row mb-3">
        <div class="col-3">
            <div class="input-group">
                <div class="input-group-prepend">
                    <button class="btn btn-outline-secondary btn-sm" (click)='getString()'>Random String</button>
                </div>
                <input #stringLength placeholder="length" type="text" class="form-control">
            </div>
        </div>
        <div class="col-2">See console</div>
    </div>

    <div class="row mb-3">
        <div class="col-3">
            <div class="input-group">
                <div class="input-group-prepend">
                    <button class="btn btn-outline-secondary btn-sm" (click)='getConstant()'>Get Constant</button>
                </div>
            </div>
        </div>
        <div class="col-9">See console (change useValue: sInstance1/sInstance2 in cart-list.component.ts)</div>
    </div>

    <div class="row mb-3">
        <div class="col-6">
            <div class="input-group">
                <div class="input-group-prepend">
                    <button class="btn btn-outline-secondary btn-sm" (click)='saveConfigOption()'>Save config key and value</button>
                </div>
                <input #configKey type="text" placeholder="key" class="form-control">
                <input #configValue type="text" placeholder="value" class="form-control">
            </div>
        </div>
        <div class="col-2">See console</div>
    </div>

</div>


