<div class = "cart-container">
    <app-cart-item #appCart *ngFor="let item of cartItems" [currentItem] = "item" (increase)="upQuantity(item)" 
    (decrease)="downQuantity(item)" (remove)="removeFromCart(item)"> </app-cart-item>
</div>

<p #testChild class = "total" >Total: {{ getTotalPrice() }}</p>

<div class="row">
    <div class="col-2">
        <button class="btn" (click)='clearCart()'>Clear Cart</button>
    </div>
    <div class="col-3">
        <div class="input-group">
            <div class="input-group-prepend">
                <button class="btn btn-outline-secondary btn-sm" (click)='getString()'>Random String</button>
            </div>
            <input #stringLength type="text" class="form-control">
        </div>
    </div>
    <div class="col-2">See console</div>
</div>



