<div class="jumbotron">
  <h1 class="display-4">О службе доставки</h1>
  <hr class="my-4">
  <p class="lead">Интернет-гипермаркет dostavka.by</p>
  <p class="lead"> Наименование продавца: ЗАО «Интернет-магазин Оптевро».</p>
  <p class="lead"> Дата регистрации интернет-гипермаркета dostavka.by в Торговом реестре Республики Беларусь: 24.10.2017 года.</p>
  <hr class="my-4">
  <p>Время работы Интернет-гипермаркет работает 7 дней в неделю без выходных. Доставка товаров осуществляется с 7:30 до 23:00
    в выбранный Вами интервал времени. Заказ на сайте можно размещать круглосуточно.
  </p>
  <p>
    Наши специалисты отдела контакт-центра помогут Вам разместить заказ на сайте и ответят на любые возникшие вопросы с 08:30
    до 22:30 по телефонам:
  </p>
  <p>
    Velcom +375 44 537-08-09
    <br> MTC +375 29 537-08-09
    <br> Life +375 25 537-08-09</p>
  <p> Продажа через Интернет-гипермаркет алкогольной и табачной продукции запрещена законодательством Республики Беларусь.
  </p>
  <p>
    Продавец гарантирует Покупателю, что обладает необходимыми документами, подтверждающие соответствие товаров, которые подлежат
    обязательному подтверждению соответствия, требованиям технических нормативных правовых актов в области технического нормирования
    и стандартизации, и может предоставить их Покупателю по его запросу (в т.ч. указание об этом в поле «Комментария» при
    оформлении Заказа) до заключения публичного договора в одной из следующих форм: 1) ксерокопия документа, подтверждающего
    соответствие товаров, заверенной печатью и подписью руководителя юридического лица, являющимся поставщиком товаров -
    при доставке товаров экспедитором на дом Покупателю; 2) ксерокопия документа, подтверждающего соответствие товаров, заверенной
    печатью и подписью руководителя юридического лица, являющимся поставщиком товаров - путем отправки на e-mail Покупателя,
    указанный при регистрации, в формате PDF или ином подобном формате; 3) путем информирования Покупателя сотрудниками Продавца
    о наличии такого документа с указанием его идентифицирующих сведений в соответствии с законодательством в зависимости
    от вида документа, подтверждающего соответствие товаров, если эти сведения не указаны на товаре или его потребительской
    таре (упаковке). Получить данную информацию Покупатель вправе как до оформления Заказа, так и после его оформления, но
    до заключения публичного договора. Право выбора формы предоставления таких документов принадлежит Продавцу.</p>
</div>
