<div class="product-container">
  <div class="row">
    <div class="col-9">
      <ul>
        <li class="productName">
          {{prod.name}} <span [ngClass]="bookmarkStyle" (click)="toggleBookmarkStyle()"><i class="far fa-bookmark fa-xs"></i></span>
        </li>
        <li>
            <strong>Description: </strong> {{prod.description}}</li>
        <li>
            <strong>Price: </strong>{{prod.price}}</li>
      </ul>
    </div>
    <div class="col-3">
      <p>
        <ul style="list-style-type:disc">
            <strong>Ingredients:</strong>
          <br/>
          <div *ngFor="let i of prod.ingredients">
            <li>{{i}}</li>
          </div>
          <br/>
          <strong>Equivalents:</strong>
          <div *ngFor="let j of prod.equivalents">
            <li>{{j}}</li>
          </div>
        </ul>
    </div>
  </div>
  <div class="row buttonBlock">
    <div class="col-2">
      <button type="button" [disabled]="isOutOfStock()" class="btn" (click)="addToCart()">
        <i class="fas fa-cart-plus"></i> Add to cart</button>
    </div>
    <div class="col-3">
      <div class="input-group">
        <input type="text" [(ngModel)]="productQuantity">
      </div>
    </div>
    <div class="col-3" [ngStyle]="{'color':inStockColor}">
      In stock: {{prod.inStock}}
    </div>
  </div>
</div>


