.product-container {
    padding: 5px;
    border: 1px solid #EFEFEF;
    margin: 10px 0;
}

.product-container:hover {
  box-shadow: 0 0 5px rgba(50,50,50,0.3);
}

.outOfStock {
  color: red;
}

.productName {
  font-size: 1.5rem;
  font-family: Gill Sans Extrabold, sans-serif;
}

.buttonBlock {
  margin: 15px 0 10px 15px;
}

.bookmark {
  padding-left: 15px;
  color: #efefef;
  cursor: pointer;
  font-size: 2rem;
}
.bookmark_active {
  padding-left: 15px;
  color: red;
  cursor: pointer;
  font-size: 2rem;
}

.product_image {
  max-height: 200px;
  padding: 10px;
}