<div class="product-container">

  <div class="row">
    <div class="col-3">
      <img src="../../assets/{{prod.id}}.jpg" class="product-image" />
    </div>
    <div class="col-9">
      <div class="row">
        <div class="col-12">
          <h4>
            <span class="text--bold">{{prod.name}}</span>
            <span class="product-price">
              <span class="badge badge-warning">{{prod.price | currency:'BYN ':true}}</span>
            </span>
          </h4>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <p class="product-description">Описание: {{prod.description}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <div class="input-group">
            <div class="input-group-prepend">
              <button class="btn" [disabled]="isOutOfStock()" (click)="addToCart()">
                <i class="fas fa-cart-plus"></i> В корзину</button>
            </div>
            <input type="text" class="form-control" [(ngModel)]="productQuantity">
          </div>
        </div>
        <div class="col-9">
          <button type="button" [disabled]="isOutOfStock()" class="btn btn-outline-primary info-button mr-4" (click)="getItemInfo()">
            <i class="fas fa-info"></i> Инфо</button>
        </div>
      </div>
    </div>
  </div>
</div>
