<div class="product-container">
  <div class="row">

    <div class="col-3">
      <img src="../../assets/{{prod.id}}.jpg" class="product-image" />
    </div>
    <div class="col-9">
      <h4>
        <span class="text--bold">{{prod.name}}</span>
        <small class="product-price">{{prod.price | currency:'BYN ':true}}</small>
      </h4>
      <p class="product-description">Описание: {{prod.description}}</p>
      <p>
        <br/>

      </p>
      <p>
        <!-- <button type="button" [disabled]="isOutOfStock()" class="btn" (click)="addToCart()">
                  <i class="fas fa-cart-plus"></i> Add to cart</button>
                  <div class="input-group">
                      <input type="text" [(ngModel)]="productQuantity">
                    </div> -->


        <div class="col-3">
          <div class="input-group">
            <div class="input-group-prepend">
              <button class="btn" [disabled]="isOutOfStock()" (click)="addToCart()">
                <i class="fas fa-cart-plus"></i> Add to cart</button>
            </div>
            <input type="text" class="form-control" [(ngModel)]="productQuantity">
          </div>
        </div>

        <!-- <button type="button"
                    class="button success large js-btn-add"
                    (click)="addProductToCart(product, 1)">Add To Cart</button>
            <button type="button"
                    class="button small js-btn-remove"
                    *ngIf="productInCart(product) | async"
                    (click)="removeProductFromCart(product, 1)">Remove item from cart</button> -->
        <!-- </p> -->
    </div>




    <!-- <div class="col-9">
      <ul>
        <li class="productName">
          {{prod.name | uppercase}} <span [ngClass]="bookmarkStyle" (click)="toggleBookmarkStyle()"><i class="far fa-bookmark fa-xs"></i></span>
        </li>
        <li>
            <strong>Description: </strong> {{prod.description}}</li>
        <li>
            <strong>Price: </strong>{{prod.price | currency:'USD'}}</li>
      </ul>
    </div>
  </div>
  <div class="row buttonBlock">
    <div class="col-2">
      <button type="button" [disabled]="isOutOfStock()" class="btn" (click)="addToCart()">
        <i class="fas fa-cart-plus"></i> Add to cart</button>
    </div>
    <div class="col-3">
      <div class="input-group">
        <input type="text" [(ngModel)]="productQuantity">
      </div>
    </div>
    <div class="col-3" [ngStyle]="{'color':inStockColor}">
      In stock: {{prod.inStock}}
    </div> -->
  </div>
</div>
