.item-container {
  margin-top: 10px;
}

.item-container>i {
  vertical-align: sub;
}

.selected {
  padding: 10px;
  border: 1px solid #81aae9;
  background-color: whitesmoke;
}

.unSelected {
  padding: 10px;
  border: 1px solid white;
  background-color: white;
}
