.item-container {
  margin-top: 10px;
}

.productName {
  font-size: 1.5rem;
  font-family: Gill Sans Extrabold, sans-serif;
}

.selected {
  padding: 10px;
  border: 1px solid #81aae9;
  background-color: whitesmoke;
}

.unSelected {
  padding: 10px;
  border: 1px solid white;
  background-color: white;
}

.bookmark {
  padding-left: 15px;
  color: #efefef;
  cursor: pointer;
  font-size: 2rem;
}

.bookmark_active {
  padding-left: 15px;
  color: red;
  cursor: pointer;
  font-size: 2rem;
}
