<div class="item-container card card-block">
  <!-- <div [className]="selectedClass"> -->
  <div [ngClass]="{
      'selected':selectedClass === 'selected',
      'unSelected':selectedClass === 'unSelected'
    }">
    <div class="row">
      <div class="col-2" #productName> {{ currentItem.product.name }}
      </div>
      <div class="col-2">
        <div class="input-group">
          <div class="input-group-prepend">
            <button class="btn btn-outline-primary" (click)="minusOne()">-</button>
          </div>
          <input type="text" class="form-control" [(ngModel)]="currentItem.quantity">
          <div class="input-group-append">
            <button class="btn btn-outline-primary" (click)="plusOne()">+</button>
          </div>
        </div>
      </div>
      <div class="col-2">
        <button class="btn btn-outline-danger" (click)="removeFromCart()">Remove</button>
      </div>
    </div>
  </div>
</div>
