<div class="item-container card card-block">
  <!-- <div [className]="selectedClass"> -->
  <div [ngClass]="{
    'selected':selectedClass === 'selected',
    'unSelected':selectedClass === 'unSelected'
  }">
    <span #productName> {{ currentItem.product.name }} </span>
    <button class="btn btn-outline-primary btn-sm" (click)="minusOne()">-</button>
    <input type="text" [(ngModel)]="currentItem.quantity">
    <button class="btn btn-outline-primary btn-sm" (click)="plusOne()">+</button>
    <button class="btn btn-outline-danger" (click)="removeFromCart()">Remove</button>
  </div>
</div>
