<div class="product-container">
  <div class="row">
    <div class="col-9">
      <ul>
        <li class="productName">
          {{prod.name}}</li>
        <li>
            <strong>Description: </strong> {{prod.description}}</li>
        <li>
            <strong>Price: </strong>{{prod.price}}</li>
      </ul>
    </div>
    <div class="col-3">
      <p>
        <ul style="list-style-type:disc">
            <strong>Ingredients:</strong>
          <br/>
          <div *ngFor="let i of prod.ingredients">
            <li>{{i}}</li>
          </div>
          <br/>
          <strong>Equivalents:</strong>
          <div *ngFor="let j of prod.equivalents">
            <li>{{j}}</li>
          </div>
        </ul>
    </div>
    <div class="col-4 buttonBlock">
      <button type="button" [attr.disabled]="prod.inStock === 0 ? true : null" class="btn" (click)="addToCart()">
        <i class="fas fa-cart-plus"></i> Add to cart</button>
      <span [ngStyle]="{'color':prod.inStock > 0 ? 'green' : 'red'}">In stock: {{prod.inStock}}</span>
    </div>
  </div>
</div>
