<div class="item-container card card-block">
  <!-- <div [className]="selectedClass"> -->
  <div [ngClass]="{
        'selected':selectedClass === 'selected',
        'unSelected':selectedClass === 'unSelected'
      }">
    <div class="row">
        <div class="col-2">
            <img src="../../assets/{{currentItem.product.id}}.jpg" class="product-image" />
          </div>

      <div class="col-4 productName" #productName> {{ currentItem.product.name }}
        <span [ngClass]="bookmarkStyle" (click)="toggleBookmarkStyle()">
          <i class="far fa-bookmark fa-xs"></i>
        </span>
      </div>
      <div class="col-2">
        <div class="input-group">
          <div class="input-group-prepend">
            <button class="btn btn-outline-primary" (click)="minusOne()">-</button>
          </div>
          <input #itemQuantity type="text" class="form-control" [(ngModel)]="currentItem.quantity" (keyup)="validateInput(itemQuantity.value);">
          <div class="input-group-append">
            <button class="btn btn-outline-primary" (click)="plusOne()">+</button>
          </div>
        </div>
      </div>
      <div class="col-2">
        <button class="btn btn-outline-danger" (click)="removeFromCart()"><i class="far fa-trash-alt"></i> Удалить</button>
      </div>
      <div class="col-2">
          <button class="btn btn-outline-primary" (click)="getItemInfo()"><i class="fas fa-info"></i> Инфо</button>
        </div>
    </div>
  </div>
</div>
<!-- Test section (see console)
  <button class="btn btn btn-outline-secondary btn-sm" (click)="setToStore()">toLocalStore</button>
  <button type="button" class="btn btn btn-outline-secondary btn-sm" (click)="getFromStore()">fromLocalStore</button>
  <button class="btn btn-outline-secondary btn-sm" (click)="removeFromStore()">removeFromStore</button> -->
